.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 4rem;
    /* margin-left: 40vh; */

}

.nomeEvento {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post {
    text-align: center;
    width: 80vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding: 1rem;
    transition: transform .2s;
}

.itemLista {
    width: 100vh;
}

.descricao {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.dataHora {
    font-size: 1rem;
    margin-top: 1rem;
}

.options {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.optionsDupla {
    display: flex;
}
.botaoPrincipal {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--azul-medio);
    color: var(--branco);
    border: 3px solid var(--azul-medio);
    cursor: pointer;
    transition: 0.2s
}

.botaoPrincipal.lg {
    padding: 1.5rem 2.75rem;
    font-size: 1.5rem;
    line-height: 1.125rem;
}

.botaoPrincipal:hover {
    border: 3px solid var(--azul-escuro);
}

.nomesOptions {
    margin: 0;
    font-size: 1rem;
    margin-right: 2rem;
    margin-bottom: -2rem;
}

.comboBox {
    padding: 0.5rem;
    border-radius: 24px;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--azul-medio);
    color: var(--branco);
    border: 3px solid var(--azul-medio);
    height: 3rem;

}

.submit {
    cursor: pointer;
    border-radius: 24px;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--azul-medio);
    color: var(--branco);
    border: 3px solid var(--azul-medio);
    transition: 0.2s
}